<h1>Dashboard</h1>


<h4>Inventory</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"># of Categories</th>
      <th scope="col"># of <%= link_to 'Products', [:admin, :products] %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @categories %></td>
      <td><%= @product %></td>
    </tr>
  </tbody>
</table>
